aside {
	color: red;

}

body{
	font-family: "Georgia," Georgia;
	font: 10;
}

.tab { 
	margin-left: 40px;
}

.button{
  color: green;
  background-color: white;
  font-size: 2rem;
  position: relative;
  top: -1px;
  text-decoration: none;
}